.intro {
  width: 60%;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 150px;
  padding: 20px;
}

.buttonLink {
  background-color: #bd4e5d;
  height: 40px;
  border: #bd4e5d;
  border-radius: 20px;
  font-family: 'Cabin', sans-serif;
}

.buttonLink:hover {
  background-color: #6067d1;
  color: #fff;
}

a {
  color: white;
  font-style: none;
}
