.buttonLink {
  background-color: #bd4e5d;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border-style: none;
  margin-bottom: 20px;
  font-family: 'Cabin', sans-serif;
}

.buttonLink:hover {
  background-color: #6067d1;
  color: #fff;
}

a {
  color: black;
  font-style: none;
}
a:hover {
  color: #fff;
}
