.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  box-shadow: rgb(5, 35, 35) 0 0 20px;
}
.form ::placeholder {
  color: black;
}
.form__input {
  width: 100%;
  margin: 10px;
  color: black;
  background: none;
  border: none;
  padding: 5px 0;
}

.form__input-question {
  border: 1.5px solid #6067d1;
  border-radius: 20px;
  background-color: #6067d1;
  color: white;
  height: 60px;
  text-align: center;
}

.form__input-answer {
  border: 1.5px solid #6067d1;
  border-radius: 20px;

  text-align: center;
}
.form__input-answer:hover {
  background-color: #6067d1;
}

.button {
  background-color: white;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border-style: none;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  font-family: 'Cabin', sans-serif;
}

.button:hover {
  background-color: #6067d1;
  color: #fff;
}

a {
  color: black;
  font-style: none;
}
a:hover {
  color: #fff;
}
