.card {
  display: flex;
  width: 450px;
  height: 650px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  box-shadow: rgba(35, 5, 6, 0.911) 0 0 30px;
}
