.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  position: absolute;
  top: 0;
}

.logo {
  height: 70px;
  margin-left: 20px;
}

.title {
  margin: 0 10px;
  font-size: 30px;
  text-transform: uppercase;
}
